.single article {
  display: flex;
  flex-flow: column nowrap;
}

// Divide between content and sidebar
.home .entry-content,
.post .entry-content-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 15px 10px 15px;
  flex: 0 1 auto;
  background-color: $color__background-body;

  @include tablet {
    flex-flow: row nowrap;
    justify-content: center;
    // padding: 20px 100px 10px 100px;
    flex: 0 1 auto;
  }
  @include desktop {
    max-width: 1200px;
  }

  .entry-content__area {
    width: 100%;
    margin: 0 0 2rem 0;
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    align-content: center;

    @include tablet {
      width: 66%;
      padding-right: 20px;
    }
  }
}

.post {
  .nav-hierarchy {
    font-family: $font__main;
    font-size: $font-size__main;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    a {
      color: $color__text-style-1;
    }
    .nav-current-article {
      color: $color__text-cat;
    }
  }
  .entry-content {
    display: flex;
    flex-flow: column nowrap;
  }
  .entry-title {
    width: 100%;
    height: 100%;
    margin: 10px 0;
    @include desktop {
      font-family: $font__main;
      font-size: $font-size__article-main-title;
      font-weight: bold;
      font-style: italic;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $color__text-main-title;
      text-transform: capitalize;
    }
  }

  // AUTHOR STYLES
  .entry-meta {
    margin: 10px 0;
    @include author-meta-styles-small;
  }
  .entry-footer {
    margin: 10px 0;
    @include author-meta-styles-big;

    // TAGS
    .article__tags {
      padding: 25px 0;

      .article__tag-title {
        color: #4b4b4b;
        font-family: $font__main;
        font-size: $font-size__article-tn-category;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
      }
      .article__tag-names a {
        color: $color__text-date;
        font-family: $font__main;
        font-size: $font-size__article-tn-category;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
      }
    }
  }
}
