.site-content {
  min-height: 100%;
  padding: 0;

  .content-area {
    padding: 135px 0 2rem 0;
    min-height: 100%;

    .site-main {
      min-height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import 'header';
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import 'footer';

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
@import 'front_page';

/*--------------------------------------------------------------
## Hero Carousel
--------------------------------------------------------------*/
@import 'hero_carousel';

/*--------------------------------------------------------------
## Single Article
--------------------------------------------------------------*/
@import 'article-single';

/*--------------------------------------------------------------
## Promotions
--------------------------------------------------------------*/
@import 'promotions';

/*--------------------------------------------------------------
## Related Articles
--------------------------------------------------------------*/
@import 'related-articles';

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
@import 'sidebar-content';
