.site-content .post aside.widget-area {
  @include tablet {
    position: sticky;
    top: 50px;
  }
}

aside.widget-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  @include header-styles;

  @include tablet {
    width: 34%;
    padding-left: 50px;
    margin: 0;
    justify-content: center;
  }

  .widget-title {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    text-decoration: none;
    margin: 30px 0;
    min-height: 100%;
    height: 80px;

    a img {
      flex: 2 1 0;
      min-width: 100%;
      min-height: 100%;
    }

    .tptn_after_thumb {
      flex: 1 1 0;
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: space-between;
      padding-left: 20px;
      max-height: 100px;
      // max-width: 250px;

      .tptn_title {
        font-family: $font__main;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.25;
        letter-spacing: normal;
        color: $color__text-main;
        max-height: 50px;
      }

      .tptn_date {
        font-family: $font__main;
        font-size: $font-size__article-tn-date;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: $color__text-date;
      }
    }
  }

  // .widget {
  // @include header-styles;
  // .header {
  //   padding: 10px 10px 0 0;
  // }

  // .header__wrapper-outer {
  //   position: relative;
  //   display: flex;
  //   // align-content: center;
  //   width: 230px;
  //   height: 50px;
  //   border-radius: 5px;
  //   background: $color__backgound-header;
  //   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.19);

  //   .header__tag {
  //     color: white;
  //     width: 100%;
  //     text-align: center;
  //     align-self: center;
  //     font-size: $font-size__header-h2;
  //     text-transform: capitalize;
  //   }
  //   // .header__wrapper-inner .svg {
  //   // 	position: absolute;
  //   // 	right: -10px;
  //   // 	top: -6px;
  //   // 	z-index: 3;
  // }
  // div.insert-icon-tag {
  //   content: url('../../assets/img/new/icon-tag-right.svg');
  //   position: absolute;
  //   right: 5px;
  //   top: -6px;
  //   z-index: 3;
  // }
  // .header__icon {
  //   display: inline-flex;
  //   vertical-align: center;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   height: 100%;
  // }
  // div.insert-icon-trending {
  //   content: url(../../assets/img/new/horses.svg);
  //   width: 21px;
  //   height: 17px;
  //   // object-fit: contain;
  //   position: absolute;
  //   right: 2px;
  //   top: 2px;
  //   z-index: 4;

  //   #Shape {
  //     fill: #ee3536;
  //   }
  // }
  // }
}
// .entry-content__area aside.widget-area {
//   // float: left;
//   overflow: hidden;

//   width: $size__site-sidebar;
//   .widget-area {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     align-content: center;
//     width: 27%;
//     padding-left: 5%;
//     margin-right: 10%;

//     h2.widget-title {
//       font-size: 1.5rem;
//     }
//   }
// }

.site-footer {
  clear: both;
  width: $size__site-main;
}

@import 'no-sidebar';
