$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-author: #ee3536;
$color__text-cat: #ee3536;
$color__text-headline: #2d2e2c;
$color__text-hero-title: #fff;
$color__text-hero-excerpt: #e7e7e7;
$color__text-date: #90918d;
$color__text-main-title: #2d2e2c;
$color__text-tn-title: #e7e7e7;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #ee3536;
$color__link-visited: #ee3536;
$color__link-hover: #ee3536;
$color__text-main: #4b4b4b;
$color__text-style-1: #90918d;
$color__text-style-2: #ee3536;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
