$font__main: 'Open Sans', sans-serif;
$font__code: 'Open Sans', sans-serif; // Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Open Sans', sans-serif; // Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-size__article-tn-date: 14px;
$font-size__article-tn-category: 15px;
$font-size__article-tn-title: 20px;
$font-size__article-main-title: 36px;
$font-size__text-headline: 29px;
$font-size__header-h2: 20px;
