$font__main: 'Open Sans', sans-serif;
$font__code: 'Open Sans', sans-serif;
$font__pre: 'Open Sans', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-size__article-tn-date: 12px;
$font-size__article-tn-category: 14px;
$font-size__article-tn-title: 20px;
$font-size__article-main-title: 36px;
$font-size__header-h1: 36px;
$font-size__header-h2: 20px;
$font-size__main: 16px;
$font-size__main-secondary: 20px;
$font-size__text-headline: 29px;
