h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  color: $color__text-headline;
  font-family: $font__main;
  font-size: $font-size__header-h1;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

h2 {
  color: $color__text-headline;
  font-family: $font__main;
  font-size: $font-size__header-h2;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  color: $color__text-headline;
  font-family: $font__main;
  font-size: $font-size__main;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
