// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Media Queries
@mixin small-tablet {
  @media (min-width: 500px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// Image Opacity Overlay
@mixin dark-overlay {
  &:after {
    content: '';
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@mixin carousel-overlay {
  &:after {
    content: '';
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: '';
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) - ( ($columns__margin * ($numberColumns -
                1)) / $numberColumns);
}

/*--------------------------------------------------------------
##Media Mixins created by DIJGTAL
--------------------------------------------------------------*/
@import 'general-media';

/*--------------------------------------------------------------
##Media Mixins Author Meta Styles
--------------------------------------------------------------*/
@import 'author-meta-mixin';

/*-------------------------------------------------------------- 
##Media Mixins Author Meta Styles
--------------------------------------------------------------*/
@import 'mixin-text-styles';
