// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Media Queries
@mixin small-tablet {
  @media (min-width: 500px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// Image Opacity Overlay
@mixin dark-overlay {
  &:after {
    content: '';
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@mixin carousel-overlay {
  &:after {
    content: '';
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@mixin category {
  padding-right: 5px;
  font-size: $font-size__article-tn-category;
  color: $color__text-cat;
}
@mixin header-styles {
  .header {
    height: 50px;
    width: 230px;
    padding: 10px 10px 0 0;
  }
  .sidebar-header {
    width: 175px;
  }
  .header__wrapper-outer {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: $color__backgound-header;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.19);

    .header__tag {
      color: white;
      width: 100%;
      text-align: center;
      align-self: center;
      font-size: $font-size__header-h2;
      text-transform: capitalize;
    }
    .header__wrapper-inner .svg {
      position: absolute;
      right: -10px;
      top: -6px;
      z-index: 3;
    }
    .header__wrapper-inner .insert-icon-tag {
      background-image: url('./assets/img/new/icon-tag-right.svg');
      position: absolute;
      right: 5px;
      top: -6px;
      z-index: 3;
    }
    .header__icon {
      display: inline-flex;
      vertical-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .header__icon .svg {
      width: 21px;
      height: 17px;
      // object-fit: contain;
      position: absolute;
      right: 2px;
      top: 2px;
      z-index: 4;

      #Shape {
        fill: #ee3536;
      }
    }
  }
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: '';
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) - ( ($columns__margin * ($numberColumns -
                1)) / $numberColumns);
}

/*--------------------------------------------------------------
##Media Mixins created by DIJGTAL
--------------------------------------------------------------*/
@import 'general-media';

/*--------------------------------------------------------------
##Media Mixins Author Meta Styles
--------------------------------------------------------------*/
@import 'author-meta-mixin';

/*-------------------------------------------------------------- 
##Media Mixins Author Meta Styles
--------------------------------------------------------------*/
@import 'mixin-text-styles';
