html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  line-height: 1.3;
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  font-family: $font__main;
}

section {
  overflow: hidden;
}
sup,
sub {
  font-size: 60%;
}

/* top left tag with icon */
.icon-tag-wrapper-outer {
  position: absolute;
  left: -8px;
  top: -6px;
  z-index: 4;
}
.icon-tag-wrapper-inner {
  position: relative;
}
.icon-tag-wrapper-inner .svg {
  position: absolute;
}
.icon-tag-wrapper-inner .icon {
  max-width: 20px;
  height: 20px;
  top: 3px;
  left: 9px;
}
.icon-tag-wrapper-inner .svg + .icon #Shape {
  fill: #ee3536;
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

@import 'lists';

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import 'tables';
